<app-flash></app-flash>
<app-notification></app-notification>
<!-- This is an A11y Change (#2, added tabindex attribute to ensure skip link works correctly for tab key) -->
<main class="center" id="main" tabindex="-1">
  <div class="background">
    <div class="special-header"><h1>Login</h1></div>
    <form ngNativeValidate (ngSubmit)="onSubmit()" method="post" action="#">
      <div>
        <label for="email">Email Address</label>
        <input
          type="email"
          id="email"
          name="email"
          size="40"
          placeholder="username@mail.com"
          [(ngModel)]="email"
          required
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          size="40"
          placeholder="Enter Password"
          minlength="8"
          maxlength="64"
          [(ngModel)]="password"
          required
        />
      </div>
      <div>
        <label for="submit"></label>
        <button id="submit">Login</button>
      </div>
    </form>
  </div>
</main>
