<app-flash></app-flash>
<app-notification></app-notification>
<!-- This is an A11y Change (#2, added tabindex attribute to ensure skip link works correctly for tab key) -->
<main class="center" id="main" tabindex="-1">
  <div class="background">
    <div class="special-header"><h1>About</h1></div>
    <br />
    <div class="line-spacer"></div>
    <br /><br />
    <!-- Could potentially change class to 'background' here -->
    <div class="about">
      <!-- This is a Semantic HTML Change (#2, changed h1 to h2 to fix top-level headings with modified CSS) -->
      <h2>Stay on track</h2>
      <p>
        Do you know where you are spending your money? If you really stop to
        track it down, you would get surprised! Proper budget management depends
        on real data... and this app will help you with that!
      </p>
      <br />
      <!-- This is a Semantic HTML Change (#2, changed h1 to h2 to fix top-level headings with modified CSS) -->
      <h2>Alerts</h2>
      <p>
        What if your clothing budget ended? You will get an alert. The goal is
        to never go over the budget.
      </p>
      <br />
      <!-- This is a Semantic HTML Change (#2, changed h1 to h2 to fix top-level headings with modified CSS) -->
      <h2>Results</h2>
      <p>
        People who stick to a financial plan, budgeting every expense, get out
        of debt faster! Also, they live happier lives... since they expend
        without guilt or fear... because they know it is all good and accounted
        for.
      </p>
      <br />
      <!-- This is a Semantic HTML Change (#2, changed h1 to h2 to fix top-level headings with modified CSS) -->
      <h2>Free</h2>
      <p>This app is free!!! And you are the only one holding your data!</p>
      <br />
    </div>
    <br /><br />
  </div>
</main>
